
.Button {
    background-color: #E0E0E0;
    padding: 15px;
    cursor: pointer;

    border: none;
    border-radius: 8px;

    font-size: 1.2rem;
    color: #000000;
}

.Accent {
    background-color: #538316;
    color: #FFFFFF;
}

.AccentHighlight {
    background-color: #3F5E0E;
}
