body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    margin: 0;
    background-color: #F0F0F0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    // Centre the app on the screen
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
